header {

  height: 420px;
  background-color: #9aa6cf;
  color: #080808;
  width: 100%;
  background-attachment: fixed;
  top: 114px;
  justify-content: center;
  background-image: url("/images/brick3.png");
  text-align: center;
  font-size: 22px;

}
