/* apply style to the navigation bar */
.navbar {
  display: flex;
  height: 120px;
  background-color: #3455d8;
  color: #FFFFFF;
  width: 100%;
  padding: 1.5em;
  justify-content: space-between;
  position: sticky;

}
.navSpan {
  font-family: 'Bungee';
}
.navbarsub {
  display: flex;
  justify-content: flex-end; 
  flex-direction: column;
}

.fa-angle-double-down {
  display: flex;
  color: red;
  align-self: center;
  padding-bottom: 18px;
}